.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-left: 230px;
  /* background-color: aqua; */
}
.nav p {
  font-size: 24px;
  font-weight: 600;
  color: 171717;
}
.content {
  /* background-color: antiquewhite; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
li{
  list-style-type: none;
}
.gbr {
  width: 27px;
  height: 24px;
}
.profil {
  display: flex;
}
nav img:hover{
  background-color: rgb(198, 201, 198);
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    height: auto;
    margin-left: 0px;
    width: 40%;
    align-items: flex-end;
  }
  .nav p {
    font-size: 18px;
  }
  .content {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    display: none;
  }
  .smallNav{
    display: block;
  }
  .large{
    display: none;
  }
}

@media (min-width: 768px){
  .small{
    display: none;
  }
}
